form {
  width: 40%;
  margin: 0 auto;
  padding-top: 3rem;
  color: white;
}
body {
  height: 100vh;
  overflow: hidden;
}
.content {
  background-image: url('../images/warehouse.png');
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  max-height: 100vh;
}
.content-overlay {
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}
